.xaxis path,
.xaxis line,
.yaxis path,
.yaxis line {
        fill: none;
        stroke: none;
}

.xaxis text,
.yaxis text {
        font-size: 11px;
        text-align: right;
}

.hover {
  opacity: 0.7
}

.hoverBold {
  font-weight: bold;
}

#matrix {
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  cursor: default;
}

.tooltip {
  position: absolute;
  background-color: white;
  width: 150px;
  height: auto;
  border-radius: 15px;
  border: 2px solid lightgray;
  padding: 10px;
  font-size: 12px;
}